* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.contenedor {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.contenedor * {
  margin: 5px;
  height: 40px;
}

.contenedor input {
  text-align: center;
  font-size: 16px;
}

.contenedor button {
  padding-right: 10px;
  padding-left: 10px;
}
